In [2]:
import pandas as pd

# 파일 경로 설정 (백슬래시 대신 r'경로' 또는 슬래시 사용)
file_path = r"C:\Users\sally\OneDrive\바탕 화면\25_1\소상공인시장진흥공단_상가(상권)정보_서울_202409.csv"

# CSV 파일 읽기
df = pd.read_csv(file_path, encoding="utf-8")  # 'utf-8' 인코딩 사용

# 데이터 확인
print(df.head())  # 첫 5행 출력

C:\Users\sally\AppData\Local\Temp\ipykernel_9864\2145623995.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding="utf-8")  # 'utf-8' 인코딩 사용

                 상가업소번호       상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
0  MA0101202210A0093845     이상한스냅  NaN        M1    과학·기술      M113
1  MA010120220805430767       토끼정  NaN        I2       음식      I201
2  MA010120220805430797       가배차  NaN        I2       음식      I201
3  MA010120220805430812  비에이치씨항동점  NaN        I2       음식      I210
4  MA010120220805430834   무지개삼성약국  NaN        G2       소매      G215

    상권업종중분류명 상권업종소분류코드 상권업종소분류명 표준산업분류코드  ...                     건물관리번호  \
0      사진 촬영    M11301    사진촬영업   M73303  ...  1147010300100090004000001
1         한식    I20101   백반/한정식   I56111  ...  1150010500107740012000001
2         한식    I20101   백반/한정식   I56111  ...  1171010400101430002012823
3      기타 간이    I21006       치킨   I56193  ...  1153011200101000005000001
4  의약·화장품 소매    G21501       약국   G47811  ...  1168011400106840005002734

               건물명              도로명주소   구우편번호 신우편번호  동정보  층정보  호정보  \
0             백송주택  서울특별시 양천구 월정로 283  158822  7902  NaN  NaN  NaN
1            마커스빌딩  서울특별시 강서구 마곡동로 55  157805  7802  NaN    2  NaN
2           사이언스빌딩  서울특별시 송파구 가락로 209  138852  5663  NaN    1  NaN
3  항동중흥에스클래스베르데카운티  서울특별시 구로구 연동로 233  152140  8362  NaN    1  NaN
4             대훈빌딩   서울특별시 강남구 일원로 45  135516  6343  NaN  NaN  NaN

           경도         위도
0  126.828832  37.542117
1  126.833022  37.560053
2  127.116136  37.507170
3  126.820686  37.481640
4  127.081499  37.489893

[5 rows x 39 columns]

In [8]:
guangginGu = df[df["도로명주소"].str.contains("서울특별시 광진구",na=False)]
print(guangginGu.head())

                   상가업소번호     상호명  지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  \
9    MA0101202210A0037544  영자's곱창  NaN        I2       음식      I201
21   MA010120220805431191  맑은에스테틱  NaN        S2    수리·개인      S208
66   MA010120220805433802    썬더치킨  NaN        I2       음식      I210
81   MA010120220805433097      더봄  NaN        S2    수리·개인      S207
186  MA010120220805437728     딘두오  NaN        G2       소매      G209

        상권업종중분류명 상권업종소분류코드  상권업종소분류명 표준산업분류코드  ...                     건물관리번호  \
9             한식    I20109  곱창 전골/구이   I56111  ...  1121510100101690021003140
21       욕탕·신체관리    S20802    마사지/안마   S96122  ...  1121510500100480053015378
66         기타 간이    I21006        치킨   I56193  ...  1121510900101490006018973
81         이용·미용    S20703       네일숍   S96119  ...  1121510900100480036000001
186  섬유·의복·신발 소매    G20908    가발 소매업   G47422  ...  1121510100106360013000002

     건물명                 도로명주소   구우편번호 신우편번호  동정보  층정보  호정보          경도  \
9    NaN     서울특별시 광진구 면목로 172  143900  4904  NaN    1  NaN  127.082832
21   NaN   서울특별시 광진구 뚝섬로32길 33  143843  5085  NaN    1  NaN  127.066814
66   NaN     서울특별시 광진구 군자로 127  143839  4999  NaN    1  NaN  127.073598
81   NaN       서울특별시 광진구 면목로 7  143837  4999  NaN    1  NaN  127.075155
186  NaN  서울특별시 광진구 천호대로103길 8  143912  4920  NaN  NaN  NaN  127.075429

            위도
9    37.568503
21   37.534047
66   37.553662
81   37.554936
186  37.559362

[5 rows x 39 columns]

In [12]:
output_path = r"C:\Users\sally\OneDrive\바탕 화면\25_1\광진구_상가정보.csv"
guangginGu.to_csv(output_path, index=False, encoding="utf-8")

In [16]:
## 광진구 상가정보저장 완료

In [124]:
df = pd.read_csv(r"C:\Users\sally\OneDrive\바탕 화면\25_1\광진구_상가정보.csv",encoding = "utf-8")
print(df.head())

                 상가업소번호     상호명  지점명 상권업종대분류명     상권업종중분류명  상권업종소분류명  \
0  MA0101202210A0037544  영자's곱창  NaN       음식           한식  곱창 전골/구이
1  MA010120220805431191  맑은에스테틱  NaN    수리·개인      욕탕·신체관리    마사지/안마
2  MA010120220805433802    썬더치킨  NaN       음식        기타 간이        치킨
3  MA010120220805433097      더봄  NaN    수리·개인        이용·미용       네일숍
4  MA010120220805437728     딘두오  NaN       소매  섬유·의복·신발 소매    가발 소매업

                  도로명주소
0     서울특별시 광진구 면목로 172
1   서울특별시 광진구 뚝섬로32길 33
2     서울특별시 광진구 군자로 127
3       서울특별시 광진구 면목로 7
4  서울특별시 광진구 천호대로103길 8

In [126]:
print(df.columns)

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류명', '상권업종중분류명', '상권업종소분류명', '도로명주소'], dtype='object')

In [34]:
selected_columns = [
    "상가업소번호", "상호명", "지점명", "상권업종대분류명",
    "상권업종중분류명", "상권업종소분류명", "도로명주소"
]
new_df = df[selected_columns]

new_df.tail()

,상가업소번호,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,도로명주소
15751,MA0101202406A0508197,광진출장홈케어,NaN,수리·개인,욕탕·신체관리,체형/비만 관리,서울특별시 광진구 긴고랑로14길 64
15752,MA0101202406A0439628,뚝섬로뚝섬유원지점,NaN,음식,한식,백반/한정식,서울특별시 광진구 뚝섬로 548
15753,MA0101202406A0500326,신전떡볶이,중곡점,음식,기타 간이,김밥/만두/분식,서울특별시 광진구 능동로 400
15754,MA0101202406A0503441,부동산프라임공인중개사사무소,NaN,부동산,부동산 서비스,부동산 중개/대리업,서울특별시 광진구 아차산로27길 14
15755,MA0101202406A0466458,농가통닭,NaN,음식,기타 간이,치킨,서울특별시 광진구 영화사로 5

In [120]:
output_path = r"C:\Users\sally\OneDrive\바탕 화면\25_1\광진구_상가정보.csv"
new_df.to_csv(output_path, index=False, encoding="utf-8")

In [46]:
import chardet

file_path = r"C:\Users\sally\Downloads\서울특별시 광진구_위생등급 업소_20250224.csv"

# 파일 인코딩 확인
with open(file_path, "rb") as f:
    result = chardet.detect(f.read(100000))  # 처음 100000 바이트만 분석
    print(result["encoding"])

EUC-KR

In [50]:
clean = pd.read_csv(r"C:\Users\sally\Downloads\서울특별시 광진구_위생등급 업소_20250224.csv",encoding="EUC-KR")
print(clean.tail())

      연번      지정기관        지정일자  지정등급             업소명      영업자명  \
182  183  식품의약품안전처  2023-06-07    우수        한결보쌈 건대점       김*지
183  184  식품의약품안전처  2023-11-29  매우우수             할리스   조* 외 1명
184  185  식품의약품안전처  2024-04-16  매우우수        할리스광나루역점       이*현
185  186  식품의약품안전처  2023-10-11    우수   호식이두마리치킨구의중앙점       최*휘
186  187  식품의약품안전처  2024-05-14  매우우수  홍대개미롯데백화점스타시티점  김*일 외 1명

                                        소재지(도로명)    업종명 법정동명(식품영업대장)
182  서울특별시 광진구 아차산로 345(1층 105호 자양동, 래미안프리미어팰리스)  일반음식점         자양동
183                      서울특별시 광진구 아차산로 235(화양동)  일반음식점         화양동
184     서울특별시 광진구 천호대로 808(제1202동 지하1층 101호 광장동)  휴게음식점         광장동
185                    서울특별시 광진구 자양로 243(1층 구의동)  일반음식점         구의동
186                    서울특별시 광진구 능동로 92(지1층 자양동)  일반음식점         자양동

In [130]:
selected_columns = [
    "지정기관", "지정일자", "지정등급", "업소명", "영업자명", "소재지(도로명)", "업종명", "법정동명(식품영업대장)"]
clean = clean[selected_columns]

In [138]:
print(clean.columns)

Index(['지정기관', '지정일자', '지정등급', '업소명', '영업자명', '소재지(도로명)', '업종명',
       '법정동명(식품영업대장)'],
      dtype='object')

In [140]:
output_path = r"C:\Users\sally\OneDrive\바탕 화면\25_1\위생등급업소_전처리.csv"
clean.to_csv(output_path, index=False, encoding="utf-8")

In [122]:
new_df.tail()

,상가업소번호,상호명,지점명,상권업종대분류명,상권업종중분류명,상권업종소분류명,도로명주소
15751,MA0101202406A0508197,광진출장홈케어,NaN,수리·개인,욕탕·신체관리,체형/비만 관리,서울특별시 광진구 긴고랑로14길 64
15752,MA0101202406A0439628,뚝섬로뚝섬유원지점,NaN,음식,한식,백반/한정식,서울특별시 광진구 뚝섬로 548
15753,MA0101202406A0500326,신전떡볶이,중곡점,음식,기타 간이,김밥/만두/분식,서울특별시 광진구 능동로 400
15754,MA0101202406A0503441,부동산프라임공인중개사사무소,NaN,부동산,부동산 서비스,부동산 중개/대리업,서울특별시 광진구 아차산로27길 14
15755,MA0101202406A0466458,농가통닭,NaN,음식,기타 간이,치킨,서울특별시 광진구 영화사로 5

In [84]:
## sql 사용해보기
import sqlite3

conn = sqlite3.connect("guangginGu_data.db")
new_df.to_sql("stores",conn,if_exists="replace",index = False)

15756

In [88]:
result = pd.read_sql("SELECT * FROM stores Where 상호명 like '할리스%'",conn)
print(result)

                 상가업소번호          상호명   지점명 상권업종대분류명 상권업종중분류명 상권업종소분류명  \
0  MA010120220803809219  할리스커피테크노마트점  None       음식    비알코올        카페
1  MA010120220803832299          할리스  None       음식    비알코올        카페
2  MA0101202309A0038222      할리스강변역점  None       음식    비알코올        카페

                  도로명주소
0  서울특별시 광진구 광나루로56길 85
1    서울특별시 광진구 아차산로 235
2    서울특별시 광진구 구의강변로 64

In [98]:
#위생 등급 업
clean.to_sql("cleanInfo", conn,if_exists="replace",index = False)

187

In [100]:
print(pd.read_sql("SELECT * FROM cleanInfo Where 업소명 like '할리스%'",conn))

       지정기관        지정일자  지정등급       업소명     영업자명  \
0  식품의약품안전처  2023-11-29  매우우수       할리스  조* 외 1명
1  식품의약품안전처  2024-04-16  매우우수  할리스광나루역점      이*현

                                   소재지(도로명)    업종명 법정동명(식품영업대장)
0                   서울특별시 광진구 아차산로 235(화양동)  일반음식점         화양동
1  서울특별시 광진구 천호대로 808(제1202동 지하1층 101호 광장동)  휴게음식점         광장동

In [118]:
print(pd.read_sql("SELECT 지정등급, count(지정등급) FROM cleanInfo GROUP BY 지정등급",conn))

   지정등급  count(지정등급)
0  매우우수          158
1    우수           23
2    좋음            6